## 1 . First we need to read and explore the datasets: 
   ### PEA07-Estimated_Pupulation-1996-2017.csv

In [1]:

import pandas as pd
import numpy as np

#Datasets:
pea07 ="./Datasets/PEA07-Estimated_Pupulation-1996-2017.csv"
pea04 ="./Datasets/PEA04-Estimated_Pupulation-2011-2023.csv" 


df1 = pd.read_csv(pea07)
print(df1.head())

                                 Statistic Age Group         Sex  Year  \
0  Estimated Population (Persons in April)  All ages  Both sexes  1996
1  Estimated Population (Persons in April)  All ages  Both sexes  1997
2  Estimated Population (Persons in April)  All ages  Both sexes  1998
3  Estimated Population (Persons in April)  All ages  Both sexes  1999
4  Estimated Population (Persons in April)  All ages  Both sexes  2000

       UNIT   State  Border  Midland   West  Dublin  Mid-East  Mid-West  \
0  Thousand  3626.1   407.3    205.5  352.4  1058.3     347.4     317.1
1  Thousand  3664.3   408.2    208.5  354.0  1072.2     361.2     317.8
2  Thousand  3703.1   410.6    211.0  355.8  1081.4     369.7     322.0
3  Thousand  3741.6   414.8    213.8  356.8  1086.1     379.3     326.1
4  Thousand  3789.5   420.5    216.4  362.6  1097.3     388.9     330.1

   South-East  South-West
0       391.5       546.6
1       393.3       549.1
2       398.7       553.8
3       404.5       560.3
4       408.6       565.1

In [2]:
# Get the columns names
df1.columns

Index(['Statistic', 'Age Group', 'Sex', 'Year', 'UNIT', 'State', 'Border',
       'Midland', 'West', 'Dublin', 'Mid-East', 'Mid-West', 'South-East',
       'South-West'],
      dtype='object')

In [3]:
## Now we need to drop unicessary columns, and rename the other ones.

# To prevent any error if run this cell twice, we can create a function to rename columns.

def rename_col(df, old_col, new_col):
  try:
    df = df.rename(columns={old_col: new_col})
    return df
  except KeyError:
    print(f"Column {column} does not exist or has already been renamed.")
    pass

df1 = rename_col(df1,'VALUE', 'Population')
df1 = rename_col(df1, 'State', 'Total')

df1.columns

Index(['Statistic', 'Age Group', 'Sex', 'Year', 'UNIT', 'Total', 'Border',
       'Midland', 'West', 'Dublin', 'Mid-East', 'Mid-West', 'South-East',
       'South-West'],
      dtype='object')

In [4]:
# Lets get the columns in the right local and right name.

df1 = df1.loc[:,['Year', 'Border',
       'Midland', 'West', 'Dublin', 'Mid-East', 'Mid-West', 'South-East',
       'South-West', 'Total', 'UNIT']]
df1.head()

,Year,Border,Midland,West,Dublin,Mid-East,Mid-West,South-East,South-West,Total,UNIT
0,1996,407.3,205.5,352.4,1058.3,347.4,317.1,391.5,546.6,3626.1,Thousand
1,1997,408.2,208.5,354.0,1072.2,361.2,317.8,393.3,549.1,3664.3,Thousand
2,1998,410.6,211.0,355.8,1081.4,369.7,322.0,398.7,553.8,3703.1,Thousand
3,1999,414.8,213.8,356.8,1086.1,379.3,326.1,404.5,560.3,3741.6,Thousand
4,2000,420.5,216.4,362.6,1097.3,388.9,330.1,408.6,565.1,3789.5,Thousand

In [7]:
# Lets check if is there any null or bad variable.

print(df1.info())
print('Is there any null value? \n -----------\n',df1.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        22 non-null     int64
 1   Border      22 non-null     float64
 2   Midland     22 non-null     float64
 3   West        22 non-null     float64
 4   Dublin      22 non-null     float64
 5   Mid-East    22 non-null     float64
 6   Mid-West    22 non-null     float64
 7   South-East  22 non-null     float64
 8   South-West  22 non-null     float64
 9   Total       22 non-null     float64
 10  UNIT        22 non-null     object
dtypes: float64(9), int64(1), object(1)
memory usage: 2.0+ KB
None
Is there any null value?
 -----------
 Year          0
Border        0
Midland       0
West          0
Dublin        0
Mid-East      0
Mid-West      0
South-East    0
South-West    0
Total         0
UNIT          0
dtype: int64


###  2ยบ File:
* PEA04-Estimated_Pupulation-2011-2023.csv

In [8]:

import pandas as pd
import numpy as np

df2 = pd.read_csv(pea04)
print(df2.head())

                                 STATISTIC  Year Age Group         Sex  \
0  Estimated Population (Persons in April)  2011  All ages  Both sexes
1  Estimated Population (Persons in April)  2012  All ages  Both sexes
2  Estimated Population (Persons in April)  2013  All ages  Both sexes
3  Estimated Population (Persons in April)  2014  All ages  Both sexes
4  Estimated Population (Persons in April)  2015  All ages  Both sexes

       UNIT   State  Border   West  Mid-West  South-East  South-West  Dublin  \
0  Thousand  4574.9   391.9  440.8     466.8       410.3       662.3  1261.5
1  Thousand  4593.7   392.1  439.4     470.6       411.6       667.4  1260.6
2  Thousand  4614.7   393.1  441.7     470.7       413.7       673.8  1265.9
3  Thousand  4645.4   392.0  441.1     471.8       413.5       679.5  1286.4
4  Thousand  4687.8   391.9  442.2     473.4       415.6       678.9  1315.3

   Mid-East  Midland
0     657.4    283.8
1     664.7    287.2
2     666.4    289.3
3     671.4    289.8
4     679.3    291.1

In [9]:
## Now we need to drop unicessary columns, and rename the other ones.

# To prevent any error if run this cell twice, we can create a function to rename columns.

def rename_col(df, old_col, new_col):
  try:
    df = df.rename(columns={old_col: new_col})
    return df
  except KeyError:
    print(f"Column {column} does not exist or has already been renamed.")
    pass

df2 = rename_col(df2,'VALUE', 'Population')
df2 = rename_col(df2, 'State', 'Total')

df2.columns

Index(['STATISTIC', 'Year', 'Age Group', 'Sex', 'UNIT', 'Total', 'Border',
       'West', 'Mid-West', 'South-East', 'South-West', 'Dublin', 'Mid-East',
       'Midland'],
      dtype='object')

In [10]:
# Lets get the columns in the right local and right name.

df2 = df2.loc[:,['Year', 'Border',
       'Midland', 'West', 'Dublin', 'Mid-East', 'Mid-West', 'South-East',
       'South-West', 'Total', 'UNIT']]
df2.head()

,Year,Border,Midland,West,Dublin,Mid-East,Mid-West,South-East,South-West,Total,UNIT
0,2011,391.9,283.8,440.8,1261.5,657.4,466.8,410.3,662.3,4574.9,Thousand
1,2012,392.1,287.2,439.4,1260.6,664.7,470.6,411.6,667.4,4593.7,Thousand
2,2013,393.1,289.3,441.7,1265.9,666.4,470.7,413.7,673.8,4614.7,Thousand
3,2014,392.0,289.8,441.1,1286.4,671.4,471.8,413.5,679.5,4645.4,Thousand
4,2015,391.9,291.1,442.2,1315.3,679.3,473.4,415.6,678.9,4687.8,Thousand

##  As we kknow, the first dataset has  data from 1996 to 2017, we need to filter this dataset and get data from 2018 to 2023.  after we will merge the datasets.

In [11]:
# filter second dataset, to get values from 2018 to 2023
df2 = df2[(df2['Year'] >= 2018) & (df2['Year'] <= 2023)]
print(df2)

    Year  Border  Midland   West  Dublin  Mid-East  Mid-West  South-East  \
7   2018   405.7    304.7  458.7  1373.1     719.3     489.0       431.5
8   2019   409.9    309.0  464.8  1398.8     731.9     493.4       440.1
9   2020   412.0    309.9  472.2  1422.4     747.2     497.9       444.9
10  2021   417.1    314.2  475.4  1434.6     755.3     499.6       451.2
11  2022   422.2    320.3  486.7  1468.4     774.0     508.7       460.7
12  2023   432.1    324.6  500.8  1501.5     777.1     519.6       468.6

    South-West   Total      UNIT
7        702.9  4884.9  Thousand
8        710.6  4958.5  Thousand
9        723.3  5029.9  Thousand
10       727.4  5074.7  Thousand
11       743.0  5184.0  Thousand
12       757.4  5281.6  Thousand

# Merge

* We need to merge the datasets and after fill null by the right values

In [12]:
# Merge the two DataFrames on the 'Year' column
merged_df = df1.merge(df2, on='Year', how='outer')




# Print the merged DataFrame
merged_df

,Year,Border_x,Midland_x,West_x,Dublin_x,Mid-East_x,Mid-West_x,South-East_x,South-West_x,Total_x,...,Border_y,Midland_y,West_y,Dublin_y,Mid-East_y,Mid-West_y,South-East_y,South-West_y,Total_y,UNIT_y
0,1996,407.3,205.5,352.4,1058.3,347.4,317.1,391.5,546.6,3626.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,408.2,208.5,354.0,1072.2,361.2,317.8,393.3,549.1,3664.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998,410.6,211.0,355.8,1081.4,369.7,322.0,398.7,553.8,3703.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999,414.8,213.8,356.8,1086.1,379.3,326.1,404.5,560.3,3741.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,420.5,216.4,362.6,1097.3,388.9,330.1,408.6,565.1,3789.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2001,425.0,220.5,368.6,1108.2,401.2,335.3,416.5,572.2,3847.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002,432.5,225.4,380.3,1122.8,412.6,339.6,423.6,580.4,3917.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2003,439.6,230.4,389.1,1133.2,426.5,342.4,430.4,588.4,3979.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2004,449.8,236.4,394.1,1144.8,440.0,345.6,438.0,596.4,4045.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2005,457.5,241.9,405.6,1160.6,456.9,353.1,449.0,609.2,4133.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2006,469.8,252.0,410.7,1183.4,478.5,358.3,461.5,618.7,4232.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2007,483.9,262.3,423.2,1231.2,496.0,366.4,475.2,637.6,4375.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2008,496.5,270.9,431.1,1252.7,513.4,375.7,489.6,655.2,4485.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2009,508.2,275.4,438.1,1258.5,520.8,376.9,495.3,660.3,4533.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2010,511.5,279.5,438.4,1259.6,528.4,378.6,498.0,660.8,4554.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2011,515.5,283.8,440.8,1261.5,533.8,377.8,499.3,662.3,4574.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2012,515.8,287.2,439.4,1260.6,541.0,381.5,500.7,667.4,4585.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2013,517.3,289.3,441.7,1265.9,542.3,381.4,503.0,673.8,4614.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2014,516.4,289.8,441.1,1286.4,546.9,382.5,502.7,679.5,4645.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,517.6,291.1,442.2,1315.3,553.7,383.9,505.1,678.9,4687.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2016,522.3,293.4,447.5,1335.9,561.9,383.8,509.9,685.0,4739.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2017,528.1,297.1,452.1,1350.0,571.1,387.4,515.3,691.4,4792.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,405.7,304.7,458.7,1373.1,719.3,489.0,431.5,702.9,4884.9,Thousand
23,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,409.9,309.0,464.8,1398.8,731.9,493.4,440.1,710.6,4958.5,Thousand
24,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,412.0,309.9,472.2,1422.4,747.2,497.9,444.9,723.3,5029.9,Thousand
25,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,417.1,314.2,475.4,1434.6,755.3,499.6,451.2,727.4,5074.7,Thousand
26,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,422.2,320.3,486.7,1468.4,774.0,508.7,460.7,743.0,5184.0,Thousand
27,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,432.1,324.6,500.8,1501.5,777.1,519.6,468.6,757.4,5281.6,Thousand

In [13]:
merged_df.columns

Index(['Year', 'Border_x', 'Midland_x', 'West_x', 'Dublin_x', 'Mid-East_x',
       'Mid-West_x', 'South-East_x', 'South-West_x', 'Total_x', 'UNIT_x',
       'Border_y', 'Midland_y', 'West_y', 'Dublin_y', 'Mid-East_y',
       'Mid-West_y', 'South-East_y', 'South-West_y', 'Total_y', 'UNIT_y'],
      dtype='object')

In [14]:
# Filling the columns from the first dataset with the values of the second dataset.


merged_df['Border_x'].fillna(merged_df['Border_y'], inplace=True)
merged_df['Border_x'].fillna(merged_df['Border_y'], inplace=True)
merged_df['West_x'].fillna(merged_df['West_y'], inplace=True)
merged_df['Dublin_x'].fillna(merged_df['Dublin_y'], inplace=True)
merged_df['Mid-East_x'].fillna(merged_df['Mid-East_y'], inplace=True)
merged_df['Mid-West_x'].fillna(merged_df['Mid-West_y'], inplace=True)
merged_df['South-East_x'].fillna(merged_df['South-East_y'], inplace=True)
merged_df['South-West_x'].fillna(merged_df['South-West_y'], inplace=True)
merged_df['Total_x'].fillna(merged_df['Total_y'], inplace=True)
merged_df['UNIT_x'].fillna(merged_df['UNIT_y'], inplace=True)


merged_df.tail()

,Year,Border_x,Midland_x,West_x,Dublin_x,Mid-East_x,Mid-West_x,South-East_x,South-West_x,Total_x,...,Border_y,Midland_y,West_y,Dublin_y,Mid-East_y,Mid-West_y,South-East_y,South-West_y,Total_y,UNIT_y
23,2019,409.9,NaN,464.8,1398.8,731.9,493.4,440.1,710.6,4958.5,...,409.9,309.0,464.8,1398.8,731.9,493.4,440.1,710.6,4958.5,Thousand
24,2020,412.0,NaN,472.2,1422.4,747.2,497.9,444.9,723.3,5029.9,...,412.0,309.9,472.2,1422.4,747.2,497.9,444.9,723.3,5029.9,Thousand
25,2021,417.1,NaN,475.4,1434.6,755.3,499.6,451.2,727.4,5074.7,...,417.1,314.2,475.4,1434.6,755.3,499.6,451.2,727.4,5074.7,Thousand
26,2022,422.2,NaN,486.7,1468.4,774.0,508.7,460.7,743.0,5184.0,...,422.2,320.3,486.7,1468.4,774.0,508.7,460.7,743.0,5184.0,Thousand
27,2023,432.1,NaN,500.8,1501.5,777.1,519.6,468.6,757.4,5281.6,...,432.1,324.6,500.8,1501.5,777.1,519.6,468.6,757.4,5281.6,Thousand

In [15]:
#function to rename the columns merged,  remove the '_x' at the end.

def rename_columns(df):

  # Create a list of the new column names.
  new_column_names = []
  for column_name in df.columns:
    if column_name.endswith('_x'):
      new_column_name = column_name[:-2]
    else:
      new_column_name = column_name

    new_column_names.append(new_column_name)

  # Rename the columns of the DataFrame.
  df.columns = new_column_names

  return df

# Rename the columns of the DataFrame.
merged = rename_columns(merged_df)


# Getting only the necesary columns:




merged.head()

,Year,Border,Midland,West,Dublin,Mid-East,Mid-West,South-East,South-West,Total,...,Border_y,Midland_y,West_y,Dublin_y,Mid-East_y,Mid-West_y,South-East_y,South-West_y,Total_y,UNIT_y
0,1996,407.3,205.5,352.4,1058.3,347.4,317.1,391.5,546.6,3626.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,408.2,208.5,354.0,1072.2,361.2,317.8,393.3,549.1,3664.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998,410.6,211.0,355.8,1081.4,369.7,322.0,398.7,553.8,3703.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999,414.8,213.8,356.8,1086.1,379.3,326.1,404.5,560.3,3741.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,420.5,216.4,362.6,1097.3,388.9,330.1,408.6,565.1,3789.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:

# Getting only the necessary columns

merged_df = merged_df.loc[:,['Year', 'Border',
       'Midland', 'West', 'Dublin', 'Mid-East', 'Mid-West', 'South-East',
       'South-West', 'Total', 'UNIT']]
merged_df.head()

,Year,Border,Midland,West,Dublin,Mid-East,Mid-West,South-East,South-West,Total,UNIT
0,1996,407.3,205.5,352.4,1058.3,347.4,317.1,391.5,546.6,3626.1,Thousand
1,1997,408.2,208.5,354.0,1072.2,361.2,317.8,393.3,549.1,3664.3,Thousand
2,1998,410.6,211.0,355.8,1081.4,369.7,322.0,398.7,553.8,3703.1,Thousand
3,1999,414.8,213.8,356.8,1086.1,379.3,326.1,404.5,560.3,3741.6,Thousand
4,2000,420.5,216.4,362.6,1097.3,388.9,330.1,408.6,565.1,3789.5,Thousand

### Now we have a full dataset,  lets save it with the name: 
* "Estimated_Pupulation-1996-2023.csv"

In [17]:
merged_df.to_csv('./Datasets/Estimated_Pupulation-1996-2023.csv', index=False)